CSS
1
#aguacate-container{
2
display:flex;
3
justify-content:center;
4
margin:20px;
5
}
6
 
7
#aguacate{
8
width:170px;
9
height:210px;
10
background:#9dd84d;
11
border:6px solid #276128;
12
border-radius:90px;
13
position:relative;
14
animation:floatAvatar 2.5s infinite;
15
}
16
 
17
/* chair */
18
 
19
#aguacate::before{
20
content:"";
21
position:absolute;
22
top:20px;
23
left:20px;
24
width:125px;
25
height:160px;
26
background:#dff29e;
27
border-radius:80px;
28
}
29
 
30
/* noyau */
31
 
32
#aguacate::after{
33
conten*:"";
34
position:absolute;
35
top:82px;
36
*eft:57px;
37
width:55px;
38
height:55px;*background:#8b5a2b;
39
border-radius:*0%;
40
 
41
box-shadow:
42
inset 5px 5px 0px*rgba(255,255,255,.25);
43
}
44
 
45
.eyes{
46
p*sition:absolute;
47
z-index:20;
48
displ*y:flex;
49
gap:26px;
50
 
51
top:60px;
52
left:*0px;
53
}
54
 
55
.eye{
56
width:22px;
57
height:2*px;
58
background:black;
59
border-radiu*:50%;
60
position:relative;
61
 
62
animatio*:blink 6s infinite;
63
}
64
 
65
.eye::after*
66
content:"";
67
position:absolute;
68
to*:3px;
69
left:4px;
70
width:6px;
71
height:*px;
72
background:white;
73
border-radiu*:50%;
74
}
75
 
76
.blush{
77
width:22px;
78
heigh*:14px;
79
 
80
background:#ffb6c1;
81
 
82
posit*on:absolute;
83
z-index:20;
84
 
85
border-r*dius:50%;
86
 
87
opacity:.9;
88
}
89
 
90
.blush-l*ft{
91
left:25px;
92
top:95px;
93
}
94
 
95
.blush*right{
96
right:25px;
97
top:95px;
98
}
99
 
100
#m*uth{
101
position:absolute;
102
z-index:20*
103
 
104
width:32px;
105
height:8px;
106
 
107
backgro*nd:black;
108
 
109
border-radius:50px;
110
 
111
to*:105px;
112
left:68px;
113
 
114
transition:.2s*
115
}
116
 
117
.tie{
118
position:absolute;
119
botto*:10px;
120
left:74px;
121
 
122
width:22px;
123
hei*ht:50px;
124
 
125
background:#5b8cff;
126
 
127
cli*-path:
128
polygon(
129
50% 0%,
130
100% 25%,
131
*0% 100%,
132
30% 100%,
133
0% 25%
134
);
135
 
136
anim*tion:swing 2s infinite;
137
}
138
 
139
@keyfra*es floatAvatar{
140
0%{
141
transform:tran*lateY(0px);
142
}
143
50%{
144
transform:trans*ateY(-10px);
145
}
146
100%{
147
transform:tra*slateY(0px);
148
}
149
}
150
 
151
@keyframes blink*
152
0%,45%,50%,100%{
153
height:22px;
154
}
155
4*%{
156
height:2px;
157
}
158
}
159
 
160
@keyframes swi*g{
161
0%{
162
transform:rotate(-4deg);
163
}
164
*0%{
165
transform:rotate(4deg);
166
}
167
100%*
168
transform:rotate(-4deg);
169
}
170
}
