body{
2
margin:0;
3
font-family:Arial;
4
background:#f8faf8;
5
}
6
 
7
#app{
8
display:none;
9
height:100vh;
10
}
11
 
12
#login-screen{
13
height:100vh;
14
display:flex;
15
justify-content:center;
16
align-items:center;
17
}
18
 
19
.login-card{
20
background:white;
21
padding:30px;
22
border-radius:20px;
23
box-shadow:0 10px 30px rgba(0,0,0,.15);
24
width:400px;
25
text-align:center;
26
}
27
 
28
.sidebar{
29
width:280px;
30
background:#012f2d;
31
color:white;
32
height:100vh;
33
padding:15px;
34
float:left;
35
}
36
 
37
.chat{
38
margin-left:280px;
39
height:100vh;
40
display:flex;
41
flex-direction:column;
42
}
43
 
44
.chat-header{
45
padding:15px;
46
border-bottom:1px solid #ddd;
47
display:flex;
48
justify-content:space-between;
49
}
50
 
51
#messages{
52
flex:1;
53
overflow:auto;
54
padding:20px;
55
}
56
 
57
.message-user{
58
background:#dff8f2;
59
padding:10px;
60
margin:8px;
61
border-radius:10px;
62
text-align:right;
63
}
64
 
65
.message-ai{
66
background:#f5f5f5;
67
padding:10px;
68
margin:8px;
69
border-radius:10px;
70
}
71
 
72
.input-bar{
73
display:flex;
74
padding:15px;
75
}
76
 
77
.input-bar input{
78
flex:1;
79
padding:10px;
80
}
81
 
82
/* AVOCAT */
83
 
84
#aguacate{
85
width:140px;
86
height:180px;
87
background:#a7d948;
88
border-radius:80px;
89
position:relative;
90
margin:auto;
91
animation:bounce 2s infinite;
92
}
93
 
94
.eye{
95
width:18px;
96
height:18px;
97
background:black;
98
border-radius:50%;
99
}
100
 
101
.eyes{
102
display:flex;
103
gap:20px;
104
position:absolute;
105
top:55px;
106
left:45px;
107
}
108
 
109
.blush{
110
width:15px;
111
height:10px;
112
background:pink;
113
border-radius:50%;
114
position:absolute;
115
top:85px;
116
}
117
 
118
.blush-left{
119
left:25px;
120
}
121
 
122
.blush-right{
123
right:25px;
124
}
125
 
126
#mouth{
127
width:25px;
128
height:8px;
129
background:black;
130
border-radius:20px;
131
position:absolute;
132
top:95px;
133
left:58px;
134
}
135
 
136
.tie{
137
width:20px;
138
height:40px;
139
background:#4d85ff;
140
position:absolute;
141
bottom:10px;
142
left:60px;
143
}
144
 
145
@keyframes bounce{
146
0%{transform:translateY(0);}
147
50%{transform:translateY(-10px);}
148
100%{transform:translateY(0);}
149
}
150
